@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Rubik);

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body{
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block
}

h1 {
  margin: .67em 0;
  font-size: 2.5rem;
}

figure{
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}


article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block
}

h1,
h2,
h3,
h4,
strong {
    margin-top: 1em;
    padding-top: 1em;
    line-height: 1.25;
    color: black;
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.5rem
}

h4 {
    font-size: 1rem
}

ol,
ul {
    padding-left: 40px
}

figure,
ol,
p,
ul {
    margin: 1em 0
}

a img {
    border: 0
}

#particles-js {
    background: #000000;
    
    
    

    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

#particles-js .particles-js-canvas-el {
    width: 100% !important;
    height: 100vh !important
}

.header {
  z-index: 1;
  text-align: center;
  color: white;
  position: absolute;
  font-family: 'Rubik', sans-serif;
  width: 80%;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.header .site-title {
  font-size: 35px;
  display: block;
  line-height: 1;
  color: white;
}

@media only screen and (min-width:550px) {
  .header .site-title {
      margin: 0;
      font-size: 100px
  }
}

.header .site-description {
  font-size: 20px;
  display: block;
  line-height: 1;
  color: white;
  margin-top: 10px
}

@media only screen and (min-width:550px) {
  .header .site-description {
      font-size: 40px
  }
}

.header-links {
  margin: 10px
}

.header-links .link {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin: 10px
}

@media only screen and (min-width:550px) {
  .header-links .link {
      font-size: 20px
  }
}

.header-icons {
  display: flex;
  justify-content: center;
  text-align: center
}

.down,
.header-icons .fa-brands {
  color: white;
  text-align: center
}

.header-icons .fa-brands {
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .7s;
  width: 20px;
  font-size: 20px;
  margin: 10px
}



.header-icons .fa-brands:active,
.header-icons .fa-brands:hover {
  color: #000000;
  background: white;
}

.down,
.header-icons .fa-solid {
  color: white;
  text-align: center
}

.header-icons .fa-solid {
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .7s;
  width: 20px;
  font-size: 20px;
  margin: 10px
}



.header-icons .fa-solid:active,
.header-icons .fa-solid:hover {
  color: #000000;
  background: white;
}


@media only screen and (min-width:550px) {
  .header-icons .icon {
      width: 35px;
      height: 35px;
      font-size: 35px
  }
}

.down {
  position: absolute;
  bottom: 25px;
  width: 100%;
  margin: 0 auto;
  display: block;
  font-size: 30px;
  cursor: pointer
}

.down .icon {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  fill: rgb(255, 255, 255);
  -webkit-animation: pulse 1.3s infinite;
  animation: pulse 1.3s infinite
}



.down .icon:active,
.down .icon:hover,
.footer a:active,
.footer a:hover {
  color: #4b5664
}

#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px
}

@media only screen and (min-width:550px) {
  #about {
      width: 80%
      
  }
}

@media only screen and (min-width:550px) {
  .user {
      flex-wrap: nowrap;
      font-size: 75px
  }
}

.user-details {
  
  width: 110%;
  padding: 50px;
  height: 000px;
  color: black;
  text-align: left;
  
  
}

.pictures {
  
  width: 20%;
  padding: 10px;
  height: 500px;


}


.column {
  float: left;
  width: 20%;
  
  height: 500px;
  margin-top:110px;
}

.row {
  float: left;
  width: 70%;
  padding: 10px;
  height: 500px;
  margin-top:60px;
}

.r:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width:550px) {
  .user {
      flex-wrap: nowrap;
      font-size: 75px
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 0 auto

}



.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 17em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}

.project-card:hover {
   transform: scale(1.1);
   
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%;
    max-height: 70%;
    
    
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #000000;
}

.more-details:hover {
    color: #424242;
}



.card {
  background-color: white;
  width: 21.25em;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card .icon {
  color: #000000;
  font-size: 8em;
  text-align: center;
}



.title {
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
}

.info {
  text-align: center;
  color: black;
}

.info h3{
  color: #000000;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact .icon{
  font-size: 4.5em;
}

.contact .info h3 {
  color: #000;
}

.contact .info p {
  font-size: 1.5em;
}

@media only screen and (min-width:550px) {
  .header .site-title {
      margin: 0;
      font-size: 100px
  }
}

.header .site-description {
  font-size: 20px;
  display: block;
  line-height: 1;
  color: #fff;
  margin-top: 10px
}

@media only screen and (min-width:550px) {
    .header .site-description {
        font-size: 40px
    }
}

.header-links {
    margin: 10px
}

.header-links .link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin: 10px
}

.footer {
  background: #000000;
  
  
  padding: 10px 0;
  margin-top: 100px;
  text-align: center;
  color: white;
}

.footer .love {
  color: red
}

.footer a {
  text-decoration: none;
  margin: 0;
  color: white
}

